.preview-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preview-container .canvas {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
