.preview-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.preview-container--with-toolbar .preview-container__canvas-area {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
}

.preview-container .canvas {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
