.canvas-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
