.app-editor-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #0f0f0f;
}

.app-editor-layout__content {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

.app-editor-layout__timeline {
  height: 369px;
}
