.app-editor-layout__timeline {
  display: flex;
  flex-direction: column;
  background-color: #202024;
}

.app-editor-layout__timeline-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-editor-layout__timeline-message {
  color: #888888;
  font-size: 14px;
  margin: 0;
}
