.app-editor-layout__options-panel {
  display: flex;
  height: 100%;
}

.panels-container {
  position: relative;
  width: 370px;
  height: 100%;
}

.panels-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
